@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-white dark:bg-black text-gray-900 dark:text-white antialiased;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-primary to-primary-light bg-clip-text text-transparent;
  }
}
